/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=VT323&display=swap');

:root {
  --main-font: monospace;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(19deg, rgb(250, 172, 168) 0%, #ddd6f3 100%, rgb(250, 172, 168) 0%);
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font: var(--main-font);
  font-family: var(--main-font);
  text-transform: capitalize;
}

li {
  list-style: none;
}

h2 {
  font-size: 4.4rem;
  color: palegoldenrod;
  text-align: center;
  font-family: 'VT323', monospace;
}

.hashlink{
  text-decoration: none;
}
.hashlink:visited{
  color: none;
}